{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify %}
{% load static %}

{% block coltype %}{% if related_fields %}colMS{% endif %}{% endblock %}

{% block sidebar %}
  {% if related_fields %}
    <div id="content-related">
      <div class="module">
        <h2>Related Objects</h2>
        <div style="padding:0 15px">
          {% for rf in related_fields $}
            <strong>{{ rf.header }}</strong>
            <ul style="margin-left:1rem;">
              {% for f in rf.fields %}
                <li><a href="{{ f.url }}">{{ f.name }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
